@import '../../styles/_colorsVariables.scss';

.topNavigationWrapper {
  display: flex;
  justify-content: center;
  height: 45px;
  background-color: $color-black;
  color: $color-white;
  font-size: 11px;
}

.topNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  min-width: 1090px;

  p {
    margin: 0;
  }

  svg {
    font-size: 11px;
  }
}

.leftColumn,
.rightColumn {
  display: flex;
}

.rightColumn {
  div,
  p {
    padding: 0 5px;
  }
}

.NavInfoWrapper {
  display: flex;

  svg {
    margin-right: 5px;
  }

  a {
    padding-right: 5px;
    text-decoration: none;
    color: inherit;

    &:last-child:after {
      content: ' ;';
    }
  }
}